<br>
<br>
<div class="text-center textColor textSize"> This world is divided into Five regions as bleow. Click on each region to explore countries in that regions</div>

<br>

<div class=" d-md-flex justify-content-center">

  <figure class="figure px-1">
    <img src="../assets/images/america.jpg" class="figure-img img-fluid imgSize" alt="America" [routerLink]="['/countries','Americas']">
    <figcaption class="figure-caption text-center textColor">Region Of America</figcaption>
  </figure>

  <figure class="figure px-3">
    <img src="../assets/images/africa.jpg" class="figure-img img-fluid imgSize" alt="Africa" [routerLink]="['/countries','africa']">
    <figcaption class="figure-caption text-center textColor">Region Of Africa</figcaption>
  </figure>

  <figure class="figure px-1">
    <img src="../assets/images/asia.jpg" class="figure-img img-fluid imgSize" alt="Asia" [routerLink]="['/countries','Asia']">
    <figcaption class="figure-caption text-center textColor">Region Of Asia</figcaption>
  </figure>

</div>

<div class="d-md-block d-md-flex justify-content-center">

  <figure class="figure px-1">
    <img src="../assets/images/europe.jpg" class="figure-img img-fluid imgSize" alt="Europe" [routerLink]="['/countries','europe']">
    <figcaption class="figure-caption text-center textColor">Region Of Europe</figcaption>
  </figure>

  <figure class="figure px-4">
    <img src="../assets/images/oceania3.jpg" class="figure-img img-fluid imgSize" alt="Oceania" [routerLink]="['/countries','Oceania']">
    <figcaption class="figure-caption text-center textColor">Region Of Oceania</figcaption>
  </figure>

</div>